ct_run.ct*
ebin/*
*.beam
current_counterexample.eqc
index.html
*.js
variables-ct@iniesta
all_runs.html
ct_default.css
.eqc-info
Mnesia.nonode@nohost/*
_rel/*
deps/*
logs/*
relx
.DS_Store
.erlang.mk*
ct_log_cache
*#*#
temp/wrangler*
src/temp/wrangler*
