%% -*- mode: Erlang; fill-column: 80 -*-

{default_release, erlang_exchange, "0.0.1"}.

{overlay, [{mkdir, "log"}]}.

%%{sys_config, "./config/sys.config"}.

{release, {erlang_exchange, "0.0.1"},
          [erlang_exchange%,
%%           sasl
%%, lager,
%%           mnesia,
%%           crypto,
%%           gproc
          ]}.

